---
- name: Download release from git
  ansible.builtin.get_url:
    url: "https://github.com/k3s-io/k3s/releases/download/v{{k3s_version}}/k3s"
    dest: "{{ k3s_executable }}"
    mode: '755'
    timeout: 60

- name: Add k3s.service file
  ansible.builtin.template:
    src: k3s.service.j2
    dest: /etc/systemd/system/k3s.service
    owner: root
    group: root
    mode: '644'
  notify:
    - systemctl daemon-reload
    - Restart k3s

- name: Install container-selinux
  ansible.builtin.package:
    name: container-selinux
    state: present
  when: ansible_os_family == 'RedHat'

- name: Flush handlers
  meta: flush_handlers

- block:
  - name: Wait for node-token
    ansible.builtin.wait_for:
      path: /var/lib/rancher/k3s/server/node-token

  - name: Slurp cluster node-token
    ansible.builtin.slurp:
      src: /var/lib/rancher/k3s/server/node-token
    register: _cluster_node_token
  when: k3s_node_type == 'server'
