apiVersion: v1
kind: Namespace
metadata:
  name: argocd
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: argocd
  namespace: kube-system
spec:
  repo: https://argoproj.github.io/argo-helm
  chart: argo-cd
  version: {{ k3s_argocd_chart_version }}
  targetNamespace: argocd
  valuesContent: |-
    configs:
      params:
        server.insecure: true
{% if k3s_argocd_ingress_hostname | length > 0 %}
    server:
      ingress:
        enabled: true
        ingressClassName: traefik
        hostname: {{ k3s_argocd_ingress_hostname }}
{% endif %}
    redis:
      enabled: true
{% if k3s_argocd_gitops_enable %}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cluster-gitops
  namespace: argocd
spec:
  project: default
  source:
    repoURL: {{ k3s_argocd_gitops_url }}
    path: {{ k3s_argocd_gitops_path }}
    targetRevision: {{ k3s_argocd_gitops_target }}
{% if k3s_argocd_gitops_values_file | length > 0 %}
    helm:
      valueFiles:
      - {{ k3s_argocd_gitops_values_file }}
{% endif %}
  destination:
    server: https://kubernetes.default.svc
{% endif %}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
