---
{{ ansible_managed | comment }}
node-ip: {{ ansible_default_ipv4.address }}
tls-san:
  - {{ ansible_default_ipv4.address }}
{% if k3s_kube_vip %}
  - {{ k3s_kube_vip_ipv4 }}
{% endif %}
cluster-init: {{ k3s_config_cluster_init }}
{% if not k3s_config_cluster_init %}
server: "https://{{ k3s_config_init_server }}:6443"
token: "{{ _cluster_node_token.content | b64decode | replace('\n', '')}}"
{% endif %}
cluster-domain: "{{ k3s_config_cluster_domain }}"
cluster-cidr: "{{ k3s_config_cluster_cidr }}"
service-cidr: "{{ k3s_config_service_cidr }}"
cluster-dns: "{{ k3s_config_cluster_dns }}"
service-node-port-range: "{{ k3s_config_nodeport_range }}"
{% if not k3s_config_disable_local_storage %}
disable:
    - local-storage
{% endif %}
write-kubeconfig-mode: "0644"