# /etc/systemd/system/k3s.service
[Unit]
Description=K3s
Documentation=https://k3s.io
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
ExecStart={{ k3s_executable }} {{ k3s_node_type }} \
{% if k3s_node_type == 'server' and k3s_standalone_node == false %}
  --cluster-init \
{% endif %}
{% if ansible_os_family == 'RedHat' %}
  --selinux \
{% endif %}
{% if k3s_node_type == 'agent' %}
  --server "https://{{ k3s_master }}:6443" \
  --token "{{ hostvars[k3s_master]._cluster_node_token.content | b64decode | replace('\n', '') }}" \
  --node-name "{{ ansible_fqdn }}" \
{% endif %}
{% if  k3s_custom_startup_conf is defined %}
  {{ k3s_custom_startup_conf }}
{% endif %}
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
